:root {
   --main-title-color: #2E2F42;
   --accent-color: #FFFFFF;
   --main-text-color: #434455;
   --select-color: #404BBF;
   --main-logo-color: #4D5AE5;
   --footer-white: #F4F4FD;
   --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)); 
}

p,h1,h2,h3,h4,h5,h6 {
   margin: 0;
}

ul {
   padding-left: 0;
   margin: 0;
}

button {
   cursor: pointer;
} 

address {
   font-style: normal;
}

img {
   display: block;
}


body {
   font-family: "Roboto", sans-serif;
   font-style: normal;
   background-color: var(--accent-color);
   color: var(--main-text-color);
}

.no-scroll {
   overflow: hidden;
}

.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
.container {
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

/* -------------------------Header------------------------- */

.header {
   background-color: var(--accent-color);
   border-bottom: 1px solid #E7E9FC;

   margin: 0 auto;
}
.main-wrap { 
   display: flex;
   align-items: center;

}
.header-navigation {
display: flex;
align-items: center;
margin-right: auto;
}
.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-logo-color);
margin-right: 76px;
}
.logo-blue{
color: var(--main-title-color);
}
.header-logo .link {
text-decoration: none;
}
.header-list {
   display: flex;
}
.header-item + .header-item {
   margin-left: 40px;
}
.header-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-title-color);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
}
.header-link:is(:hover, :focus) {
   color: var(--select-color);
}


/* -----------------Перший варіант----------------- */
.studio-thumb::after, .portfolio-thumb::after {
   display: inline-block;
   content: '';
   width: 100%;
   height: 4px;
   left: 0;
   bottom: -1px;
   background: #404BBF;
   border-radius: 2px;
   position: absolute;
   opacity: 1;
}
.header-address{ 
   font-style: normal; 
}
.address-list {
   display: flex;
}
.address-item + .address-item{
   margin-left: 40px;
}
.header-mail{
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--main-text-color);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:is(:hover, :focus) {
   color: var(--select-color);
}
.header-phone:is(:hover, :focus) {
   color: var(--select-color);
}
.header-phone {
   font-family: "Roboto", sans-serif;
   font-size: 16px; 
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--main-text-color);
   
   transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------------------Hero--------------------------------- */
.hero {
   background-color: var(--main-title-color);
   background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   max-width: 1440px;
   margin: 0 auto;
   padding: 188px 0;
}
.hero-wrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 48px;
}
.hero-title {
   max-width: 496px;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--accent-color);
}
.hero-btn {
padding: 16px 32px;
border-radius: 4px;
border-color: #4D5AE5;;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

height: 56px;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--accent-color);
background-color: var(--main-logo-color);
cursor: pointer;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:is(:hover, :focus) {
   background-color: var(--select-color);
}
/* -------------------------------About US---------------------- */

.about {
   background-color: var(--accent-color);
   padding-top: 120px;
   padding-bottom: 120px;

   margin: 0 auto;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.about-list {
   display: flex;
   gap: 24px;
}
.about-list-bg {
display: flex;
justify-content: center;
align-items: center;
height: 112px;
background: var(--footer-white);
border-radius: 4px;
margin-bottom: 8px;
}
.about-icon {
   width: 64px;
   height: 64px;
}
.about-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--main-title-color);
   margin-bottom: 8px;
}
.about-text {
   min-width: 264px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--main-text-color);
}
/* -------------------------------Project------------------------------- */

.projects {
   padding-bottom: 120px;

   margin: 0 auto;
}
.projects-list{
   display: flex;
   gap: 24px;
}
.projects-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color);
margin-bottom: 72px;
}

/* -------------------Our Team-------------------- */

.team {
   background-color: var(--footer-white);
   padding-bottom: 120px;
   padding-top: 120px;
   margin: 0 auto;
}
.team-list {
display: flex;
gap: 24px;
}
.card-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
}
.member-social-list {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;
}
.member-social-item {
   width: 40px;
   height: 40px;
}
.member-social-link {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #4D5AE5;
   display: flex;
   justify-content: center;
   align-items: center;

   transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.member-social-icon {
   fill: var(--footer-white);
}
.member-social-link:is(:hover, :focus){ 
   background-color: var(--select-color);
}


.team-item {
background-color: var(--accent-color);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

width: 264px;
}
.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color);
margin-bottom: 72px;
}
.team-member-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-title-color);
}
.team-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-text-color);
}

/* -----------------Customers----------------- */
.customers {
   padding-top: 120px;
   padding-bottom: 120px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   margin: 0 auto;
}
.customers-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color);
margin-bottom: 72px;
}
.customers-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
}
.customers-link {
display: flex;
justify-content: center;
align-items: center;
width: 168px;
height: 88px;

border: 1px solid #8E8F99;
border-radius: 4px;
color: #8E8F99;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover, :focus) {
border-color: var(--select-color);
color: var(--select-color);
}
.customers-icon {
   fill: currentColor;
}

/* ---------------------------Footer--------------------------- */

.footer {
background-color: var(--main-title-color);
padding-top: 100px;
padding-bottom: 100px;

margin: 0 auto;
}
.footer-info {
   margin-right: 120px;
}
.footer-logo-blue {
color: var(--footer-white);
}
.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-logo-color)
}
.footer-text {
max-width: 264px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-white);
margin-top: 16px;
}
.footer-icon {
   display: flex;
   flex-direction: column;
   justify-content: top;
   align-items: left;
width: 208px;
height: 80px;
left: 540px;
top: 2988px;
gap: 16px;
margin-right: 80px;
}
.foot-title {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
}
.footer-wrap {
   display: flex;
}
.footer-social-list {
   display: flex;
   gap: 16px;
}
.footer-social-item {
   width: 40px;
   height: 40px;
}
.footer-social-link {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: var(--main-text-color);
   display: flex;
   justify-content: center;
   align-items: center;

   transition-property: background-color, fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:is(:hover, :focus) {
   background-color: #31D0AA;
   }
   
   .footer-social-link:is(:hover, :focus) > .footer-social-icon{
   fill: var(--footer-white);
   }
   

.footer-social-icon {
   fill: var(--footer-white);
}



.sub-title {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
padding-bottom: 16px;
}

.sub-email {
   font-size: 12px;
   line-height: 2.0;
   letter-spacing: 0.04em;
   color: #FFFFFF;

   background-color: transparent;
   width: 264px;
   height: 40px;
   padding-left: 16px;

   border: 1px solid #FFFFFF;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;

   transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn-text {
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
gap: 16px;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.sub-btn {
   background-color: #4D5AE5;
border-radius: 4px;
padding: 8px 24px;
border: 0px;
}


.sub-wrap {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}


/* --------------------------Portfolio-------------------------- */
.portfolio {
   margin: 0 auto;
}
/* ------------------------------Filter------------------------------ */
.filter-btn {
border: 1px solid #E7E9FC;
border-radius: 4px;
padding: 12px 24px;

font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--main-logo-color);
background-color: var(--footer-white);
cursor: pointer;

transition-property: color, border-color, background-color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:is(:hover, :focus) {
color: var(--accent-color);
border-color: #404BBF;;
background-color: var(--select-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list {
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

/* ---------------------------Our products-------------------- */

.card-text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 16px;
gap: 8px;
border: 1px solid #E7E9FC;
}
.card-wrap {
   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-wrap:is(:hover, :focus){
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.products-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 48px 24px;
}
.products-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-title-color);
}
.products-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-text-color);
}
.portfolio {
padding-top: 96px;
padding-bottom: 120px;
}
.products-img-wrapper {
   position: relative;
   overflow: hidden;
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--main-logo-color);
   color: #FFFFFF;
   padding: 40px 32px 164px;
   line-height: 1.2;
   overflow: auto;
   transform: translateY(100%);
   transition: transform 250ms ease;
}
.projects-link:hover .overlay, .projects-link:focus .overlay {
   transform: translateY(0%);
}

/* --------------------Modal window-------------------- */
.backdrop {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
   width: 408px;
   min-height: 576px;
   background-color: #FCFCFC;
   border-radius: 4px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(1);
   transition: transform 250ms linear;

   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
   padding: 24px;
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0) translatey(-200%)
}

.model-close-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   background: #E7E9FC;
   border: 1px solid rgba(0, 0, 0, 0.1);
   margin-left: auto;
   margin-bottom: 24px;
}
.is-hidden {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
}

.modal-form {
   position: relative;
}
.modal-title {
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-title-color);
margin-bottom: 16px;
}
.modal-input {
   width: 100%;
   height: 40px;
   border: 1px solid var(--main-title-color);
   outline: transparent;
   border-radius: 4px;
   margin-bottom: 8px;
   padding-left: 38px;
   opacity: 0.2;
}


.modal-input:focus {
border: 1px solid #4D5AE5;
opacity: 1;
}

.modal-input:focus + .modal-icon {
fill: #4D5AE5;
}



.input-wrap {
   position: relative;
}

.modal-icon {
   position: absolute;
   left: 16px;
   top: 8px;
   color: currentColor;
}

.input-text {
display: inline-block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
}

.modal-btn {
   padding: 16px 32px;
   border-radius: 4px;
   border-color: #4D5AE5;;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   margin: 0;
   border: 0px;
   
   height: 56px;
   min-width: 164px;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--accent-color);
   background-color: var(--main-logo-color);
   cursor: pointer;
   
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-btn:is(:hover, :focus) {
   background-color: var(--select-color);
   }

   .btn-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
   }

.modal-comments {
   position: relative;
}

   .modal-textarea {
   width: 100%;
   height: 120px;
   opacity: 0.2;
   border: 1px solid #2E2F42;
   border-radius: 4px;
   padding: 8px;
   resize: none;
   margin-bottom: 16px;
   }


   .modal-textarea::placeholder {
   width: 100%;
   height: 14px;

   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgb(46, 47, 66);
   }

   .modal-check {
      margin-bottom: 24px;
   }

   .check-text {
      display: flex;
      align-items: center;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #8E8F99;
   }

   .check-text::before {
      content: '';
      width: 16px;
      height: 16px;
      border: 1px solid #2E2F42;
      border-radius: 2px;
      margin-right: 8px;
   }


   .input-check:checked + .check-text::before {
background-image: url(../images/check.svg);
background-color: var(--select-color);
background-position: center;
background-repeat: no-repeat;
   }

   .model-close-btn:is(:hover, :focus) {
      background-color: var(--select-color);
      color: #ffffff;
      }

      .modal-close-icon {
         fill: currentColor;
      }
